body{
        background: rgb(196, 225, 224);
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        min-height: 100vh;
    }

    header{
        background-color: beige;
        padding: 20px;
        border-radius: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
    }a{
        text-decoration: none;
        color: black;
    }

    .nav{
        display: flex;
        gap: 15px;
        justify-content: center;
    }

    .buttons{
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        transition: all 0.4s ease;
        border: 1px solid transparent;
    }

    .buttons:hover{
        background: rgb(220, 111, 111);
        border-color: black;
    }

    #project-title{
        font-size: 28px;
        font-weight: bold;
    }

    .content{
        height: auto;
        background: white;
        margin: 20px;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0px 0px 10px gray;
        min-height: calc(100vh - 270px);
    }.content ul li{
        padding: 20px;
    }
    .profile img{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        object-fit: fill;
        border: 4px solid black;
        margin-bottom: 20px;
    }.skills-container{
        display: flex;
        gap: 20px;
        justify-content: space-around;
        padding: 40px;
    }

    .card{
        width: 270px;
        padding: 20px;
        border: 2px solid black;
        border-radius: 10px;
        color: white;
    }
    .c{
        background: rgb(109, 193, 255);
    }
    .html{
        background: rgb(255, 148, 120);
    }
    .vacation{
        background: rgb(255, 199, 101);
    }
    .card h3{
        margin-top: 0;
    }form{
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 450px;
        margin: auto;
        padding: 20px;
    }

    input, textarea{
        padding: 12px;
        border-radius: 8px;
        border: 1px solid gray;
        font-size: 16px;
        width: 100%;
    }

    textarea{
        height: 120px;
        resize: none;
    }

    button{
        padding: 12px;
        background: #4CAF50;
        border: none;
        color: white;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
    }

    button:hover{
        background: #3e8e41;
    }
    footer{
        text-align: center;
        padding: 15px;
        background: beige;
        border-radius: 50px;
        margin: 10px;
        font-weight: bold;
    }
